---
slug: banality
subhead: "A personal fashion experiment and founder-led project. Exploring the intersection of streetwear, digital culture, and minimalist branding."
---
<div class="project-visuals">
<figure>
                        <a href="#lb-banality-1" class="lb-trigger"><img src="https://media.girste.com/girste/banality/cope.png" alt="Banality Identity" loading="lazy"></a><div id="lb-banality-1" class="lightbox"><a href="#" class="lb-close"></a><img src="https://media.girste.com/girste/banality/cope.png" alt="Banality Identity"></div>
                    </figure>
                    <figure>
                        <a href="#lb-banality-2" class="lb-trigger"><img src="https://media.girste.com/girste/banality/screenshot1.png" alt="Banality Details" loading="lazy"></a><div id="lb-banality-2" class="lightbox"><a href="#" class="lb-close"></a><img src="https://media.girste.com/girste/banality/screenshot1.png" alt="Banality Details"></div>
                    </figure>
                    <figure>
                        <a href="#lb-banality-3" class="lb-trigger"><img src="https://media.girste.com/girste/banality/screenshot3.png" alt="Banality Shop" loading="lazy"></a><div id="lb-banality-3" class="lightbox"><a href="#" class="lb-close"></a><img src="https://media.girste.com/girste/banality/screenshot3.png" alt="Banality Shop"></div>
                    </figure>

                    <figure>
                        <a href="#lb-banality-4" class="lb-trigger"><img src="https://media.girste.com/girste/banality/screenshot-2026-03-03-at-23.24.34.png" alt="Banality image" loading="lazy"></a><div id="lb-banality-4" class="lightbox"><a href="#" class="lb-close"></a><img src="https://media.girste.com/girste/banality/screenshot-2026-03-03-at-23.24.34.png" alt="Banality image"></div>
                    </figure>
                    <figure>
                        <a href="#lb-banality-5" class="lb-trigger"><img src="https://media.girste.com/girste/banality/screenshot-2026-03-03-at-23.25.12.png" alt="Banality image" loading="lazy"></a><div id="lb-banality-5" class="lightbox"><a href="#" class="lb-close"></a><img src="https://media.girste.com/girste/banality/screenshot-2026-03-03-at-23.25.12.png" alt="Banality image"></div>
                    </figure>
                    <figure>
                        <a href="#lb-banality-6" class="lb-trigger"><img src="https://media.girste.com/girste/banality/screenshot-2026-03-03-at-23.25.20.png" alt="Banality image" loading="lazy"></a><div id="lb-banality-6" class="lightbox"><a href="#" class="lb-close"></a><img src="https://media.girste.com/girste/banality/screenshot-2026-03-03-at-23.25.20.png" alt="Banality image"></div>
                    </figure>
                    <figure>
                        <a href="#lb-banality-7" class="lb-trigger"><img src="https://media.girste.com/girste/banality/screenshot-2026-03-03-at-23.25.35.png" alt="Banality image" loading="lazy"></a><div id="lb-banality-7" class="lightbox"><a href="#" class="lb-close"></a><img src="https://media.girste.com/girste/banality/screenshot-2026-03-03-at-23.25.35.png" alt="Banality image"></div>
                    </figure>
</div>
<div class="project-text">
    <h3>The Project</h3>
    <p>A personal experiment during a period of growth and education in digital graphic work. I wanted to express something I had in my head at the time: that banality does not really exist. What we call banal is usually something we are looking at from a distance, summarizing it and fitting it into a category. But anything looked at closely, materially or conceptually, always has something particular that makes it its own.</p>
    <p>With a nod to the graffiti world I come from, I tried to highlight figures and concepts that are usually considered common or unremarkable. The project was about that kind of attention.</p>
</div>
