---
slug: codebeans
subhead: "Branding and website for a software boutique. The design balances a professional tech look with approachable, clean typography and layouts."
---
<div class="project-visuals">
<figure>
                        <a href="#lb-codebeans-1" class="lb-trigger"><img src="https://res.cloudinary.com/dqzwmnpdi/image/upload/v1759769915/girste/codebeans/group.png" alt="Codebeans Identity" loading="lazy"></a><div id="lb-codebeans-1" class="lightbox"><a href="#" class="lb-close"></a><img src="https://res.cloudinary.com/dqzwmnpdi/image/upload/v1759769915/girste/codebeans/group.png" alt="Codebeans Identity"></div>
                    </figure>
                    <figure>
                        <a href="#lb-codebeans-2" class="lb-trigger"><img src="https://res.cloudinary.com/dqzwmnpdi/image/upload/v1759769917/girste/codebeans/screenshot-1.png" alt="Codebeans UI" loading="lazy"></a><div id="lb-codebeans-2" class="lightbox"><a href="#" class="lb-close"></a><img src="https://res.cloudinary.com/dqzwmnpdi/image/upload/v1759769917/girste/codebeans/screenshot-1.png" alt="Codebeans UI"></div>
                    </figure>
                    <figure>
                        <a href="#lb-codebeans-3" class="lb-trigger"><img src="https://res.cloudinary.com/dqzwmnpdi/image/upload/v1759769920/girste/codebeans/screenshot-3.png" alt="Codebeans Mobile" loading="lazy"></a><div id="lb-codebeans-3" class="lightbox"><a href="#" class="lb-close"></a><img src="https://res.cloudinary.com/dqzwmnpdi/image/upload/v1759769920/girste/codebeans/screenshot-3.png" alt="Codebeans Mobile"></div>
                    </figure>
</div>
<div class="project-text">
    <h3>The Project</h3>
    <p>Roberto. We have been working together for years. In the beginning the split was clean: I handled prototyping, copywriting, UI, UX and client communication while he built everything. Over time that line blurred, since I started taking on more of the technical and implementation side too.</p>
    <p>Together we have shipped dozens of websites and digital products. We were also colleagues at the same agency for a while. CodeBeans is his brand for his services. I took care of all the visual and communication work around it.</p>
</div>
