---
slug: ferrero
subhead: "Art direction and visual design for Ferrero's digital communication. Creating high-impact newsletter layouts and presentation decks for international marketing."
---
<div class="project-visuals">
<figure>
                        <a href="#lb-ferrero-1" class="lb-trigger"><img src="https://media.girste.com/girste/ferrero/cope.png" alt="Ferrero Design" loading="lazy"></a><div id="lb-ferrero-1" class="lightbox"><a href="#" class="lb-close"></a><img src="https://media.girste.com/girste/ferrero/cope.png" alt="Ferrero Design"></div>
                    </figure>
                    <figure>
                        <a href="#lb-ferrero-2" class="lb-trigger"><img src="https://media.girste.com/girste/ferrero/screenshot1.png" alt="Ferrero Details" loading="lazy"></a><div id="lb-ferrero-2" class="lightbox"><a href="#" class="lb-close"></a><img src="https://media.girste.com/girste/ferrero/screenshot1.png" alt="Ferrero Details"></div>
                    </figure>
                    <figure>
                        <a href="#lb-ferrero-3" class="lb-trigger"><img src="https://media.girste.com/girste/ferrero/screenshot3.png" alt="Ferrero Layout" loading="lazy"></a><div id="lb-ferrero-3" class="lightbox"><a href="#" class="lb-close"></a><img src="https://media.girste.com/girste/ferrero/screenshot3.png" alt="Ferrero Layout"></div>
                    </figure>
</div>
<div class="project-text"></div>
