---
slug: fpt
subhead: "UI/UX design and graphic communication for FPT Industrial. Developing consistent interface elements and visual assets for digital platforms."
---
<div class="project-visuals">
<figure>
                        <a href="#lb-fpt-1" class="lb-trigger"><img src="https://media.girste.com/girste/fpt/cope.png" alt="FPT UI" loading="lazy"></a><div id="lb-fpt-1" class="lightbox"><a href="#" class="lb-close"></a><img src="https://media.girste.com/girste/fpt/cope.png" alt="FPT UI"></div>
                    </figure>
                    <figure>
                        <a href="#lb-fpt-2" class="lb-trigger"><img src="https://media.girste.com/girste/fpt/group-1899.png" alt="FPT Details" loading="lazy"></a><div id="lb-fpt-2" class="lightbox"><a href="#" class="lb-close"></a><img src="https://media.girste.com/girste/fpt/group-1899.png" alt="FPT Details"></div>
                    </figure>
                    <figure>
                        <a href="#lb-fpt-3" class="lb-trigger"><img src="https://media.girste.com/girste/fpt/hp-merchandising.png" alt="FPT Shop UI" loading="lazy"></a><div id="lb-fpt-3" class="lightbox"><a href="#" class="lb-close"></a><img src="https://media.girste.com/girste/fpt/hp-merchandising.png" alt="FPT Shop UI"></div>
                    </figure>
</div>
<div class="project-text"></div>
