---
slug: guruamiami
subhead: "Complete branding, website, and stationery design for a specialized craft brand. The project balances handmade charm with a professional digital presence."
---
<div class="project-visuals">
<figure>
                        <a href="#lb-guruamiami-1" class="lb-trigger"><img src="https://res.cloudinary.com/dqzwmnpdi/image/upload/v1763141270/girste/guru.png" alt="Guruamiami Design" loading="lazy"></a><div id="lb-guruamiami-1" class="lightbox"><a href="#" class="lb-close"></a><img src="https://res.cloudinary.com/dqzwmnpdi/image/upload/v1763141270/girste/guru.png" alt="Guruamiami Design"></div>
                    </figure>
                    <figure>
                        <a href="#lb-guruamiami-2" class="lb-trigger"><img src="https://res.cloudinary.com/dqzwmnpdi/image/upload/v1759857814/girste/guruamiami/cope.png" alt="Guruamiami Details" loading="lazy"></a><div id="lb-guruamiami-2" class="lightbox"><a href="#" class="lb-close"></a><img src="https://res.cloudinary.com/dqzwmnpdi/image/upload/v1759857814/girste/guruamiami/cope.png" alt="Guruamiami Details"></div>
                    </figure>
                    <figure>
                        <a href="#lb-guruamiami-3" class="lb-trigger"><img src="https://res.cloudinary.com/dqzwmnpdi/image/upload/v1759857843/girste/guruamiami/screenshot6.png" alt="Guruamiami Layout" loading="lazy"></a><div id="lb-guruamiami-3" class="lightbox"><a href="#" class="lb-close"></a><img src="https://res.cloudinary.com/dqzwmnpdi/image/upload/v1759857843/girste/guruamiami/screenshot6.png" alt="Guruamiami Layout"></div>
                    </figure>
</div>
<div class="project-text"></div>
