---
slug: itas
subhead: "Art direction and editorial design for ITAS. Creating structured presentations and visual communication materials for corporate reporting."
---
<div class="project-visuals">
<figure>
                        <a href="#lb-itas-1" class="lb-trigger"><img src="https://res.cloudinary.com/dqzwmnpdi/image/upload/v1759850070/girste/itas/frame-30.png" alt="ITAS Design" loading="lazy"></a><div id="lb-itas-1" class="lightbox"><a href="#" class="lb-close"></a><img src="https://res.cloudinary.com/dqzwmnpdi/image/upload/v1759850070/girste/itas/frame-30.png" alt="ITAS Design"></div>
                    </figure>
                    <figure>
                        <a href="#lb-itas-2" class="lb-trigger"><img src="https://res.cloudinary.com/dqzwmnpdi/image/upload/v1759850073/girste/itas/frame-32.png" alt="ITAS Details" loading="lazy"></a><div id="lb-itas-2" class="lightbox"><a href="#" class="lb-close"></a><img src="https://res.cloudinary.com/dqzwmnpdi/image/upload/v1759850073/girste/itas/frame-32.png" alt="ITAS Details"></div>
                    </figure>
                    <figure>
                        <a href="#lb-itas-3" class="lb-trigger"><img src="https://res.cloudinary.com/dqzwmnpdi/image/upload/v1759850077/girste/itas/frame-34.png" alt="ITAS Layout" loading="lazy"></a><div id="lb-itas-3" class="lightbox"><a href="#" class="lb-close"></a><img src="https://res.cloudinary.com/dqzwmnpdi/image/upload/v1759850077/girste/itas/frame-34.png" alt="ITAS Layout"></div>
                    </figure>
</div>
<div class="project-text"></div>
