---
slug: locman
subhead: "Art direction and visual advertising for Locman Italy. Developing high-impact visual campaigns and digital assets for premium watchmaking communication."
---
<div class="project-visuals">
<figure>
                        <a href="#lb-locman-1" class="lb-trigger"><img src="https://res.cloudinary.com/dqzwmnpdi/image/upload/v1759858290/girste/locman/cope.png" alt="Locman Design" loading="lazy"></a><div id="lb-locman-1" class="lightbox"><a href="#" class="lb-close"></a><img src="https://res.cloudinary.com/dqzwmnpdi/image/upload/v1759858290/girste/locman/cope.png" alt="Locman Design"></div>
                    </figure>
                    <figure>
                        <a href="#lb-locman-2" class="lb-trigger"><img src="https://res.cloudinary.com/dqzwmnpdi/image/upload/v1759858294/girste/locman/screenshot1.png" alt="Locman Details" loading="lazy"></a><div id="lb-locman-2" class="lightbox"><a href="#" class="lb-close"></a><img src="https://res.cloudinary.com/dqzwmnpdi/image/upload/v1759858294/girste/locman/screenshot1.png" alt="Locman Details"></div>
                    </figure>
                    <figure>
                        <a href="#lb-locman-3" class="lb-trigger"><img src="https://res.cloudinary.com/dqzwmnpdi/image/upload/v1759858300/girste/locman/screenshot3.png" alt="Locman Layout" loading="lazy"></a><div id="lb-locman-3" class="lightbox"><a href="#" class="lb-close"></a><img src="https://res.cloudinary.com/dqzwmnpdi/image/upload/v1759858300/girste/locman/screenshot3.png" alt="Locman Layout"></div>
                    </figure>
</div>
<div class="project-text"></div>
