---
slug: marlus
subhead: "Complete branding and digital identity for a premium amaro brand. Designed to reflect the craft and heritage of the product through a modern visual language."
---
<div class="project-visuals">
<figure>
                        <a href="#lb-marlus-1" class="lb-trigger"><img src="https://media.girste.com/girste/ywieze7ts0p54zhwflcw.png" alt="Amaro Màrlus Branding" loading="lazy"></a><div id="lb-marlus-1" class="lightbox"><a href="#" class="lb-close"></a><img src="https://media.girste.com/girste/ywieze7ts0p54zhwflcw.png" alt="Amaro Màrlus Branding"></div>
                    </figure>
                    <figure>
                        <video src="https://media.girste.com/yheupfbuf1ife8vo1wjh.mp4" controls loading="lazy"></video>
                    </figure>
                    <figure>
                        <a href="#lb-marlus-2" class="lb-trigger"><img src="https://media.girste.com/girste/marlus/group-1.png" alt="Amaro Màrlus Details" loading="lazy"></a><div id="lb-marlus-2" class="lightbox"><a href="#" class="lb-close"></a><img src="https://media.girste.com/girste/marlus/group-1.png" alt="Amaro Màrlus Details"></div>
                    </figure>
                    <figure>
                        <a href="#lb-marlus-3" class="lb-trigger"><img src="https://media.girste.com/girste/marlus/group-2.png" alt="Amaro Màrlus Details" loading="lazy"></a><div id="lb-marlus-3" class="lightbox"><a href="#" class="lb-close"></a><img src="https://media.girste.com/girste/marlus/group-2.png" alt="Amaro Màrlus Details"></div>
                    </figure>
</div>
<div class="project-text"></div>
