---
slug: micam
subhead: "Newsletter and digital editorial design for MICAM Milano. Managing complex visual assets and translating fashion trends into a high-impact digital magazine layout."
---
<div class="project-visuals">
<figure>
                        <a href="#lb-micam-1" class="lb-trigger"><img src="https://media.girste.com/girste/micam/cope.jpg" alt="MICAM Identity" loading="lazy"></a><div id="lb-micam-1" class="lightbox"><a href="#" class="lb-close"></a><img src="https://media.girste.com/girste/micam/cope.jpg" alt="MICAM Identity"></div>
                    </figure>
                    <figure>
                        <a href="#lb-micam-2" class="lb-trigger"><img src="https://media.girste.com/girste/micam/screenshot1.jpg" alt="MICAM Details" loading="lazy"></a><div id="lb-micam-2" class="lightbox"><a href="#" class="lb-close"></a><img src="https://media.girste.com/girste/micam/screenshot1.jpg" alt="MICAM Details"></div>
                    </figure>
                    <figure>
                        <a href="#lb-micam-3" class="lb-trigger"><img src="https://media.girste.com/girste/micam/screenshot3.png" alt="MICAM Layout" loading="lazy"></a><div id="lb-micam-3" class="lightbox"><a href="#" class="lb-close"></a><img src="https://media.girste.com/girste/micam/screenshot3.png" alt="MICAM Layout"></div>
                    </figure>
</div>
<div class="project-text"></div>
