---
slug: sidewalk
subhead: "Branding and art direction for Sidewalk Art Gallery. A collaborative project focused on creating a bold, street-inspired visual identity for contemporary art."
---
<div class="project-visuals">
<figure>
                        <video src="https://res.cloudinary.com/dqzwmnpdi/video/upload/v1756328479/oiv0caz1cflmtx9mgypm.mp4" controls loading="lazy"></video>
                    </figure>
                    <figure>
                        <a href="#lb-sidewalk-1" class="lb-trigger"><img src="https://res.cloudinary.com/dqzwmnpdi/image/upload/v1756327385/qtxegjskd7xbxgmt5kce.webp" alt="Sidewalk Art Gallery" loading="lazy"></a><div id="lb-sidewalk-1" class="lightbox"><a href="#" class="lb-close"></a><img src="https://res.cloudinary.com/dqzwmnpdi/image/upload/v1756327385/qtxegjskd7xbxgmt5kce.webp" alt="Sidewalk Art Gallery"></div>
                    </figure>
                    <figure>
                        <a href="#lb-sidewalk-2" class="lb-trigger"><img src="https://res.cloudinary.com/dqzwmnpdi/image/upload/f_auto,q_auto/v1757350737/girste/sidewalk_cover.png" alt="Sidewalk Identity" loading="lazy"></a><div id="lb-sidewalk-2" class="lightbox"><a href="#" class="lb-close"></a><img src="https://res.cloudinary.com/dqzwmnpdi/image/upload/f_auto,q_auto/v1757350737/girste/sidewalk_cover.png" alt="Sidewalk Identity"></div>
                    </figure>
</div>
<div class="project-text"></div>
