---
slug: stellantis
subhead: "UI design and graphic communication for Stellantis Group. Developing interface components and visual assets for multi-brand digital campaigns."
---
<div class="project-visuals">
<figure>
                        <a href="#lb-stellantis-1" class="lb-trigger"><img src="https://res.cloudinary.com/dqzwmnpdi/image/upload/v1759850109/girste/stellantis/cope.png" alt="Stellantis UI" loading="lazy"></a><div id="lb-stellantis-1" class="lightbox"><a href="#" class="lb-close"></a><img src="https://res.cloudinary.com/dqzwmnpdi/image/upload/v1759850109/girste/stellantis/cope.png" alt="Stellantis UI"></div>
                    </figure>
                    <figure>
                        <a href="#lb-stellantis-2" class="lb-trigger"><img src="https://res.cloudinary.com/dqzwmnpdi/image/upload/v1759850113/girste/stellantis/group-1894.png" alt="Stellantis Details" loading="lazy"></a><div id="lb-stellantis-2" class="lightbox"><a href="#" class="lb-close"></a><img src="https://res.cloudinary.com/dqzwmnpdi/image/upload/v1759850113/girste/stellantis/group-1894.png" alt="Stellantis Details"></div>
                    </figure>
                    <figure>
                        <a href="#lb-stellantis-3" class="lb-trigger"><img src="https://res.cloudinary.com/dqzwmnpdi/image/upload/v1759850117/girste/stellantis/cccc.png" alt="Stellantis Layout" loading="lazy"></a><div id="lb-stellantis-3" class="lightbox"><a href="#" class="lb-close"></a><img src="https://res.cloudinary.com/dqzwmnpdi/image/upload/v1759850117/girste/stellantis/cccc.png" alt="Stellantis Layout"></div>
                    </figure>
</div>
<div class="project-text"></div>
